.right-sidebar-friend-wrap{
  flex: 1;
  box-sizing: border-box;
}

.right-sidebar-friend-wrap > div{
  padding: 1em 1.5em;
}

.sidebar-friend-settings{
  display: flex; 
  margin-bottom: 1em;
}

.sidebar-friend-settings button{
  
  border: none; 
  padding: 5px;
  cursor: pointer; 
  font-size: 1.3em;
  background: none;
}
.remove-friend-btn-wrap{
  display: none;
}
.remove-friend-btn-wrap > button{
  border: 1px solid var(--gray-1);
  color: white; 
  font-weight: 600;
  border-radius: 5px; 
  padding: 1em 2em;
  cursor: pointer;
  background-image: linear-gradient(rgb(229, 221, 221), rgb(121, 119, 119));
   
}

.balance-bars, .balance-gear{
  border-radius: 2px;
  transition: 0.3s;
}
.balance-bars:hover, .balance-gear:hover{
  background-color: var(--gray-1);
  display: flex; 
  justify-content: center;
  align-items: center;
}
.balance-bars:hover > button,
.balance-gear:hover > button {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.show-remove-settings{
  display: block;
}

.friend-balance{
  display: none; 
  font-size: 1.2em;
  font-weight: 600; 
}
.friend-balance > h1{
  font-size: 0.8em;
  color: var(--gray-4);
  margin-bottom: 0.5em;
}

.show-friend-balance{
  display: block;
}

.friend-balance-owes, .friend-balance-you-owe{
  font-size: 0.8em; 
}

.friend-balance-owes{
  color: var(--sw-orange);
}

.friend-balance-you-owe{
  color: var(--sw-light-green);
}



