.dashboard-wrap { 
  
  box-sizing: border-box;
  flex: 3; 
  position: relative; 
  border-left: 1px solid var(--gray-5);
  border-right: 1px solid var(--gray-5);
}

.dashboard-wrap:before, .dashboard-wrap:after{
  content: " ";
  height: 100%; 
  position: absolute; 
  top: 0; 
  width: 15px;
}
.dashboard-wrap:before{
  box-shadow: -15px 0 15px -15px inset;
  left: -15px;
}
.dashboard-wrap::after{
  box-shadow: 15px 0 15px -15px inset;
  right: -15px;
}
.dashboard-wrap h1{
  display: flex; 
  justify-content: space-between;
  align-items: center;
  color: black; 
  font-size: 1.5em; 
  font-weight: 400; 
  padding: 0 10px;
  height: 60px;
  background-color: var(--gray-6);
  border-bottom: 1px solid var(--gray-5); 
}

.add-expense, .settle-button{
    padding: 0.5em;
    color: white;
    font-weight: 400;
    border: 1px solid rgba(133, 131, 131, 0.8);
    cursor: pointer;
    border-radius: 5px;
    font-size: 0.7em;
}
.add-expense{
    background-color: var(--sw-orange);
}
.add-expense:hover{
  background-color: rgba(236, 101, 52, 1); 
}
.settle-button{
    background-color: var(--sw-light-green);
    margin-left: 10px;
}
.settle-button:hover{
    background-color: var(--sw-dark-green);
}
.dashboard-content-wrap{
  box-sizing: border-box;
  padding: 0 1em;
}
.dashboard-summary-wrap{
  display: flex; 
  justify-content: space-evenly; 
  margin: 1em 0;
  font-size: 0.8em;
}

.dashboard-column-titles-wrap{
  display: flex;
  font-weight: 600; 
  font-size: 1.2em;
  margin: 1em 0;
}
.dashboard-summary-wrap{
  color: var(--gray-4);
}

.dashboard-column-titles-wrap > div{
  flex: 1;
}
.dashboard-people-wrap{
  display: flex; 
}
.dashboard-people-wrap > div{
  flex: 1;
}
.dashboard-summary-balance > div:last-child, .dashboard-summary-owed > div:last-child{
  color: var(--sw-light-green);
}
.dashboard-summary-owe > div:last-child{
  color: var(--sw-orange);
}
.loaners > div:last-child{
  color: var(--sw-light-green);
}
.debtors >  div:last-child{
  color: var(--sw-orange);
}

.loaners, .debtors {
  cursor: pointer;
  box-sizing: border-box;
  padding: 0.5em;
}

.loaners:hover, .debtors:hover{
  background-color: var(--gray-6);

}
.debtor-link, .loaner-link{
  text-decoration: none; 
  color: black;
}
