.green-check-wrap{
  margin-top: 30px; 
  display: flex; 
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.green-check-wrap > img{ 
  width: 15em; 
  height: 15em;
}

.green-check-wrap > div{
  font-size: 1.5em; 
  margin-top: 30px;
  color: var(--gray-3); 
}