.main-welcome-wrap{ 
    
}

.star-svg, .heart-svg, .house-svg, .airplane-svg{ 
    width: 30px; 
    height: 30px;
}

.heart-svg{
    fill: var(--sw-red);
}

.house-svg{
    fill: var(--sw-purple); 
}

.airplane-svg{
    fill: var(--sw-light-green);
}

.test-text-wrap{
    // background-image: url("./../../assets/images/facets_black.png");
    // background-color: rgba(197, 193, 193, 0.7);
}