.left-sidebar-wrap{
  flex: 1;
  box-sizing: border-box; 
  color: var(--gray-3);
}
.left-sidebar-wrap > div{
  padding: 1em 0.5em 0.5em 0.5em;
}

.left-sidebar-wrap > div a {
  text-decoration: none;
  color: var(--gray-3);
}

.left-sidebar-wrap h3{
  opacity: 0.6;
  background-color: var(--gray-1);
  cursor: pointer;
}
.left-sidebar-wrap h3:hover{
  opacity: 1;
  
}
.dashboard-tab > a, .activity-tab > a, .expenses-tab > a{
  padding: 5px; 
  display: inline-block;
}
.dashboard-tab:hover, .activity-tab:hover, .expenses-tab:hover{
  background-color: rgba(226, 222, 222, 0.6);
}
.dashboard-tab{
  margin-bottom: 0.3em;
}

.activity-tab { 
  margin-bottom: 1em;
}
.dashboard-tab > a {
  width: 100%;
}

.dashboard-tab > a > img{
  width: 16px; 
  height: 16px; 
  margin-right: 0.5em;
}

.activity-flag{
  color: var(--gray-4); 
  margin-right: 0.5em;
}

.expenses-tab{
  margin-bottom: 0.7em;
}

.expenses-tab > a{
  width: 100%;
}

.expenses-list-icon{
  font-weight: bold;
  width: 16px; 
  height: 16px;
  margin-right: 0.5em;
}
.friends-list-wrap{
  box-sizing: border-box;
  font-size: 0.9em;
}

.friends-list-wrap > h3{
  padding: 5px;
  display: flex; 
  justify-content: space-between;
  
}
.friends-list-wrap li > a{
  padding: 3px 3px 3px 5px;
  display: inline-block;
  width: 100%;
}
.friends-list-wrap li:hover{
  background-color: rgba(226, 222, 222, 0.8);
  
}
.friend-icon{
  color: var(--gray-4);
  margin-right: 5px;
}

.add-friend-span:hover{
  color: var(--sw-light-green);

}



