.expense-row{
    display: flex;
    box-sizing: border-box;
    padding: 1em 0.5em;
    position: relative;
    justify-content: center;
    border-bottom: 1px solid var(--gray-1);
    cursor: pointer;
}
.expense-row:hover{
    background-color: var(--gray-6);
}

.expense-row > div:not(:last-child){
    display: flex; 
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding: 0 0.3em;
}

.expenses-payer > div, .expenses-lender > div{
    width: 100%;
}
.expenses-payer > div:first-child, .expenses-lender > div:first-child{
    font-size: 0.8em;
    color: var(--gray-4);
}

.expenses-payer > div{
    text-align: right;
}

.expenses-lender > div{
    text-align: left;
}

.payer-green{
    color: var(--sw-light-green);
}
.payer-orange{
    color: var(--sw-orange);
}

.expense-details-wrap{
    margin: 1em 0 0 0;  
    
    display: none;
}
.expense-details-wrap > div{
    display: flex;
    align-items: center;
}

.expense-details-todo-icon{
    font-size: 4em;
    padding: 10px; 
    box-sizing: border-box;
    display: flex; 
    align-items: center;
    
}
.edit-expense-button{
    background-color: var(--sw-orange);
    color: white;
    border: 1px solid var(--gray1);
    padding: 3px 5px;
    border-radius: 3px;
    cursor: pointer;
}

.edit-expense-button:hover{
    background-color: var(--sw-dark-orange);
}
.expense-details-top{
    box-sizing: border-box;
    padding: 0.5em;
}
.expense-details-top > p{
    margin-bottom: 0.5em;

}
.expense-small-details{
    font-size: 0.8em; 
    color: var(--gray-3);

}
.expense-details-amount{
    font-weight: 600; 
    font-size: 1.2em;
}
.expense-details-bottom{
    padding: 1em; 
    box-sizing: border-box;
    border-bottom: 1px solid var(--gray-1);
    div{
        flex: 1;
    }
}
.expense-expender-list{
    font-size: 0.9em;
    color: var(--gray-3);
}
.expense-expender-list-item > span{
    font-size: 1.2em; 
    color: black;
   
   
}

.delete-expense-wrap{
    position: absolute; 
    right: 2em;
    color: red;
    transform: translateY(-50%);
    top: 50%;
    font-size: 0.8em;
    display: none;
    box-sizing: border-box;
}
.delete-expense-wrap:hover{
    border-bottom: 2px solid red;
    text-decoration: underline;
}

.expense-row:hover .delete-expense-wrap{ 
    display: inline-block; 
}